.tennis {
    width: 500px;
    height: 500px;
    user-select: none;
    position:absolute;
}

.cat {
    user-select: none;
}

.racquet {
    position:absolute;
    top:-20%;
    left:-10%;
    transform-origin: bottom left;
    transform: rotate(0deg);
    transition: transform 0.3s ease-in-out;
    user-select: none;
}

@keyframes swing {
    0% {transform: rotate(0deg);}
    50% {transform: rotate(-60deg);}
    100% {transform: rotate(0deg);}
}

.ball-wrap {
    position: absolute;
    width: 500px;
    height: 500px;
    top:0%;
}

@keyframes ball-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.ball{
    position:absolute;
    width:6.25em;
    height:6.25em;
    top:-5%;
    left:25%;
    user-select: none;
}

@keyframes ball-big {
    0% {
        transform: scale(0.8);
    }
    100% {
        transform: scale(4.0) translateY(16em) translateX(5em);
    }
}

@keyframes ball-return {
    0% {
        transform: scale(4.0) translateY(16em) translateX(5em);
    }

    100% {
        transform: scale(0.8);
    }
}
